.containerStyles {
  max-width: 25rem !important;
}

.logoStyles {
  margin: 2rem;
}

.fontAwesomeStyles {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
  color: #5a6268;
}

.submitStyles {
  float: right;
}
