@import url("../../assets/css/globalStyles.css");

.containerStyles {
  max-width: 25rem !important;
}

.logoStyles {
  margin: 2rem;
  max-width: 12rem !important;
}

.fontAwesomeStyles {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
  color: #4b713d;
}
