.lightGreenBg {
  background-color: #e2eed8;
}

.veryLightGreenBg {
  background-color: #f6fdf2;
}

.linkStyles {
  color: #373a3c !important;
}

.linkStyles:hover {
  text-decoration: underline !important;
}
