@import url("../../assets/css/fadeInStyles.css");
@import url("../../assets/css/priceStyles.css");
@import url("../../assets/css/scrollbarStyles.css");

h1,
h2,
h3,
h4 {
  font-weight: normal !important;
}

.contentWrapper {
  padding-top: 1rem;
}

.lightGreenBg {
  background-color: #e2eed8 !important;
}

.veryLightGreenBg {
  background-color: #f6fdf2 !important;
}

.linkStyles {
  color: #373a3c !important;
}

.linkStyles:hover {
  color: #4b713d !important;
  text-decoration: underline !important;
}

.inputStyles {
  border: 1px #f0f6ea solid !important;
  border-radius: 0.4rem !important;
  box-shadow: 1px 1px 2px #ececec;
}

.btnStyles {
  margin-bottom: 1.3rem;
  color: #4b713d !important;
  background-color: #e2eed8 !important;
  border: 1px #f0f6ea solid !important;
  border-radius: 0.4rem !important;
  box-shadow: 1px 1px 2px #ececec;
}

.btnStyles:hover {
  background-color: #f6fdf2 !important;
}

.dangerBtnStyles {
  margin-bottom: 1.3rem;
  color: #ffffff !important;
  background-color: #fc4040 !important;
  border: 1px #f0f6ea solid !important;
  border-radius: 0.4rem !important;
  box-shadow: 1px 1px 2px #ececec;
}

.dangerBtnStyles:hover {
  background-color: #960000 !important;
}

.tableHeaderStyles {
  border-bottom: 1px #f0f6ea solid;
  box-shadow: 0 1px 5px #fafafa !important;
}

.tableRowStyles {
  background-color: #ffffff !important;
}

.tableRowStyles:hover {
  background-color: #f6fdf2 !important;
}

.tableScrollView {
  max-height: 54vh;
  overflow: auto;
}

.cardHover:hover {
  background-color: #f6fdf2 !important;
}
