.priceGlow {
  color: #4b713d !important;
  font-size: 1.8rem;
  text-shadow: 2px 1px 6px #d6eec5 !important;
}

.priceVAT {
  color: #969696 !important;
  font-size: 0.9rem;
  text-shadow: 2px 1px 6px #d7ecc7 !important;
}

.priceSale {
  color: #b42727 !important;
  font-size: 1.8rem;
  text-decoration: line-through;
  text-shadow: 2px 1px 6px #d6eec5 !important;
}
