@import url('../../assets/css/globalStyles.css');

.inputGroupTextStyles {
  margin-bottom: 0.5rem;
  color: #1a1a1a !important;
  background-color: #f8f8f8 !important;
  border: 1px #f0f6ea solid !important;
  border-radius: 0.4rem 0 0 0.4rem !important;
  box-shadow: 1px 1px 2px #ececec;
}

.inputStylesEditScooter {
  border: 1px #f0f6ea solid !important;
  border-radius: 0 0.4rem 0.4rem 0 !important;
  box-shadow: 1px 1px 2px #ececec;
  margin-bottom: 0.5rem;
}
